/* h2{
    margin-left: 100px;
    color: red;
}
hr{
    opacity: 0;
}

p{
    margin-left: 100px;
}

.main-container{
    display: flex;
    flex-direction: row;
}

.main-container div{
    margin: 0 auto;
} */