
.header {
    background-color: rgb(223, 178, 30);
    .header__container{
        max-width: 900px;
        margin: 0 auto;
        padding: 30px 0;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .header__logo{
            color: white;
            font-weight: 702;
            font-size: 50px;
            width: 120px;
            
        }
        #img-logo{
            
                width: 100px;
                height: 100px;
            
        }
        .navbar {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            .navbar__link{
                color: white;
                margin: 0;
                font-size: 18px;
                font-weight: 800;
                margin-right: 20px;
             }
        }

    }
}




